<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}" style="font-size: 20px">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/" style="font-size: 20px">About</a></li>
    <!-- <li class="nav-getting-started" role="menuitem"><a href="{{site.baseurl}}tag/getting-started/">Getting Started</a></li> -->
    <li class="fb-page" role="menuitem"><a href="https://m.facebook.com/mvjjm161" style="font-size: 20px">Facebook Page</a></li>
</ul>
